* {
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

li {
    list-style:none;
}

a {
    color:rgb(48, 28, 28);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
a:hover {
    background:none;
    text-decoration: underline;
}
/* =================
    button styles
   ================= */
.home-content .btn {
    background:rgb(44, 24, 24);
    color:rgb(255, 255, 255);
    border:none;
    padding:10px;
    border-radius:5px;
    transition: all 1.5s ease-in-out;
    position: aboslute;
    top:-1px;
    left:0px;
    transform: translate(-800%,-200%);
}
.home-content:hover .btn {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: blueviolet 0px -2px 10px,
                blueviolet 0px -2px 20px,
                blueviolet 0px -2px 30px;
    transform: translate(0%,-200%);
}
.btn:hover {
    background:rgb(255, 255, 255);
    color:rgb(44, 24, 24);
    
}
.btn::after {
    content: " ⏩";
}
/* ================ 
projects section 
==================*/
.Projects,.Projects ul {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 10px;
}

.Projects {
    color: rgb(255, 255, 255);
    margin-top: auto;
}
h1 {
    border: 1px solid;
    font-size: 1.5em;
    text-align: center;
    align-self: center;
    box-shadow: rgba(48, 46, 46, 0.2) -2px -2px 10px,
                rgba(0, 0, 0, 0.2) 2px 2px 20px,
                rgba(99, 97, 97, 0.2) -2px -2px 30px,
                rgba(0, 0, 0, 0.2) 2px 2px 40px;
    border-radius: 10px;
    padding: 0.5em;
    margin: 1.2em; 
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
h1:hover {
    color:rgb(46, 42, 42);
    box-shadow: black 0px -2px 10px,
                black 0px -2px 20px,
                black 0px -2px 30px;
}
.Projects ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    background-color: rgba(12, 90, 100, 0.171);
    padding: 1rem;

}
.Projects li {
    padding: 1em;
    width: 80vw;
    margin-right: 1em;
    border: 1px solid rgb(87, 14, 14);
    margin-bottom: 1em;
    border-radius: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease-in-out;
    align-self: center;
    background-color: white;

}
.Projects li::before {
    content: "➤";
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    margin-right: 0.5em;
}
.Projects li:hover {
    background-color: rgb(12, 90, 100);
    box-shadow: black 0px -2px 10px,
                black 0px -2px 20px,
                black 0px -2px 30px;
    color: white;
}
.Projects ul a:hover {
    text-decoration: none;
}

/* =================
   blog section
   ================= */

.blog-posts {
    display: flex;
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    flex-flow: column wrap;
    margin: 0.8em;
    color:rgb(46, 42, 42);
}
.blog-posts h1 {
    font-size: 1.5em;
    align-self: center;
}
.blog-posts h2 {
    text-align: center;
    margin: 0.8rem;
    text-transform: uppercase;
    font-size: 1.5em;
    border: 2px solid rgb(216, 118, 118);
    border-radius: 10px;
    transition: all 0.3s ease-in;
    align-self: center;
}
.blog-title ul {
    border-radius: 10px;
    margin: 1.2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.blog-title li {
    border: 2px solid rgba(109, 238, 238, 0.692);
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2rem;
    width: 300px;
    padding: 0.5rem;
    overflow: hidden;
}
.blog-title li:hover {
    box-shadow: black 0px 0px 10px,
               black 0px 0px 20px;
    transform: scale(1.02);

}
.blog-title li a {
    text-align: center;
}
.blog-title li a:hover {
    text-decoration: none;
}
.blog-posts .learn-des {
    font-style: italic;
    font-size: 1.2em;
    max-width: 50%;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding:1.2rem;
    transition: all 0.5s ease;
    position: relative;
    text-transform: uppercase;
    border-radius: 20px;
    background:rgb(56, 140, 168);
    color: white;
    opacity: 1;
    align-self: center;
        
    
}

.blog-posts img {
    border-radius: 10px;
    margin: 1.2em;
}

/* ===============
    contact section
    =============== */
    
.contact {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

.contact ul {
    display : flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.contact a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}
h1:hover a ,.contact a:hover {
    text-decoration: underline;
    background: none;
}
.contact li {
    list-style: none;
    padding: 5px; 
}
.contact li img {
    border-radius: 50%;
    transition: all .8s ease-in-out;
    box-shadow: black 0px 0px 5px;
    padding: 3px;
    margin: 10px;
}
.contact li img:hover {
    transform: scale(1.2) rotate(360deg);
}
.sbuscriber-form {
    width: 100%;
    max-width: auto;
    margin: auto;
    margin-top: 1.2em;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all .8s ease;
    border: 1px solid;  
    background: rgb(202, 195, 195);
    border-radius: 10px;

}
.sbuscriber-form:hover {
    box-shadow: black 0px 0px 10px,
                black 0px 0px 20px ;
}
.sbuscriber-form div {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-self: center;
}
.sbuscriber-form input,textarea {
    margin-left: auto;
    align-self:flex-end;
    height: 30px;
    width: 70%;
    padding: 0;
    background-color: rgb(233, 233, 233);
    border: none;
    font-size: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    resize:none;
    outline:none;
}
.sbuscriber-form .form-message textarea {
    height: 100px;
}

.sbuscriber-form input:focus {
    outline: none;
}
.sbuscriber-form input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
                0 0 50px rgba(192, 119, 119, 0.2),
                0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in;
    cursor: pointer;
    background: rgb(216, 118, 118);
    color: white;
    letter-spacing: 1px;
    max-width: 200px;
    padding: 0.5rem;
}
.sbuscriber-form input[type="submit"]:hover {
    opacity: 0.5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
                0 0 50px rgba(192, 119, 119, 0.2),
                0 0 10px rgba(114, 104, 104, 0.2),
                0 0 20px rgba(83, 72, 72, 0.2);
}

.sbuscriber-form input[type="submit"]:focus {
    border: 1px dashed #000;
}

/* ===========
    end of contact section
    =========== */
    
    

@media screen and (min-width: 900px) {
    .home-content img {
        max-width: 100%;
        height: auto;
    }


}
@media screen and (max-width: 520px) {
    .home-content h1 {
        font-size: 1.3em;
    }
}
@media screen and (max-width: 450px) {
    .home-content h1 {
        font-size: 1.2em;
    }
    .home-content img {
        max-width: 100%;
        height: 300px;

    }
    .Projects h1  {
        font-size: 1em;
        width: 80%;
    }
    .blog-posts {
        display: block;
    }
    .blog-posts img {
        margin:0px;
        margin-bottom: 1em;
    }
    .blog-posts .learn-des {
        max-width: 100%;
        font-size: 0.8em;
    }
    
    .home-content .home-text{
        opacity: 1;
    }

    .home-content:hover .home-text{
        transform: 0;
        font-size:0.8em;
    }
}