* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
header {
    background: rgba(1, 2, 2, 0.589);
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: black 0px 0px 4px,
                black 0px 0px 8px,
                black 0px 0px 16px;

}
header .logo {
    text-transform: uppercase;
    cursor: pointer;
    color:rgb(240, 248, 239);
    font-size: 30px;
    text-shadow: wheat 2px 2px 0px,
                wheat -2px -2px 0px,
                white 2px -2px 2px,
                white -2px 2px 2px;
                

}

header .header-links {
    display: flex;
    padding: 10px;
    
}
.header-links div {
    margin: 10px;
    padding: 2px;
}


header a {
    color: white;
    text-decoration: none;
}
a:hover {
    background:rgb(230, 228, 228);
}
.menu-icon {
    width: 34px;
    height: 28px;
    cursor:pointer;
    display: none;
}
.menu-icon div {
    background: white;
    width: 15px;
    height: 2px;
    margin: 3px;
}

@media screen and (max-width: 600px) {
    body {
        overflow: hidden;
    }
    header .header-links {
        position: absolute;
        right: 10px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        background: white;
        top:34px;
        width: 20%;
        height: auto;
        padding: 10px;
        transition: all 500ms ease-in-out 0s;
        display: none;
        opacity: 0;
        box-shadow: black 0px 0px 10px;
        border-radius: 10px;
        transition: all 500ms ease-in-out 0s;
    }
    header .header-links a {
        color: black;
    }
    header .header-links div {
        width: 125%;
        margin:0px;
        padding:10px;
        margin-left: -10px;

    }
    header .header-links div:hover {
        background-color: rgb(230, 228, 228);

    }
    .menu-icon {
        display: block;
        border-radius: 10px;
        margin-right: -100px;
    }
    
}
.nav-active {
    display: block !important;
    opacity: 1 !important;
    z-index: 1 !important;
}
.icon-opacity {
    opacity: 0.5 !important;
}
.toggle icon1 {
    transform: rotate(-45deg) translate(-5px, 5px);

} 
.toggle icon2 {
    opacity: 0;
    
} 
.toggle icon3 {
    transform: rotate(45deg) translate(-5px, -5px);
    
} 